<% @page_title = "このサイトについて" %>

<h1><%= @page_title %></h1>
<h3>管理者 shocyu</h3>

<p>趣味で ruby プログラムを作成しています。研究室時代プログラミングに挫折しましたが、ruby と出会ってやり直しプログラミング中</p>
<br>
<p>ruby で使えるライブラリを増やすため、様々なプログラムを作成中です（設計途中のものもあり）</p>
<br>
<p>興味のある分野はアルゴリズム全般、機械学習、物理シミュレーションです。できれば画像処理、音声解析のライブラリも製作しようかと考えています</p>

<p>野望としては Lisp に調整したいです（Common Lisp か scheme かは迷い中です）。ruby やったら Lisp やりたくなるはず（自分だけ？）</p>

<p>当サイトは以下の ruby on rails の参考書を参考にして製作しました( Ruby on Rails を用いて製作)</p>
<p><%= link_to "黒田努、佐藤和人「改訂３版、基礎 Ruby on Rails」インプレス, 2015", "http://www.oiax.jp/rails4book" %></p>